/* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src:
         url('../fonts/noto-sans-v25-latin-regular.woff2') format('woff2'), 
         url('../fonts/noto-sans-v25-latin-regular.woff') format('woff'), 
         url('../fonts/noto-sans-v25-latin-regular.ttf') format('truetype');
  }
  /* noto-sans-700 - latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: 
         url('../fonts/noto-sans-v25-latin-700.woff2') format('woff2'), 
         url('../fonts/noto-sans-v25-latin-700.woff') format('woff'), 
         url('../fonts/noto-sans-v25-latin-700.ttf') format('truetype');
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family:'Noto Sans', 'Arial', sans-serif ;
  }

  img {
      display: inline-block;
  }

  .container {
      max-width: 1220px;
      padding: 0 20px;
      margin: 0 auto;
  }

  ul {
      list-style: none;
  }
  
  a {
      text-decoration: none;
  }

  .header {
      background-color: #163A24;
  }

  .header__container {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .block {
      display: flex;
      align-items: center;
  }

  .header__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #FBFAF7;
  }

  .header__link1 {
    margin: 0 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #FBFAF7;
  }

  .header__link2 {
    padding: 15px 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FBFAF7;
    background-color: #198C36;
    border-radius: 160px;
  }

  .header__link2:hover {
    background-color: rgb(228, 137, 0);
    color: aqua;
    transition: 0.3s;
  }

  .header__link2:active {
    background-color: rgb(255, 186, 82);
    color: rgb(0, 94, 94);
 }

 /* hero section */

 .hero {
    background-color: #163A24;

 }

 .hero__container {
     background-image: url(./../images/herobgi.png);
     background-size: auto;
     background-position: right center;
     background-repeat: no-repeat;
     padding-top: 120px;
     padding-bottom: 40px;
 }



 .hero__header {
    width: 450px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: #FBFAF7;
 }

 .hero__info {
    margin-top: 18px;
    margin-bottom: 89px;
    width: 475px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FBFAF7;
 }

 /* human section */

 .human {
    margin-top: 120px;
 }

 .human__container {
     display: flex;
     justify-content: space-between;
 }

 .human__image {
    margin-left: 98px;
 }

 .human__block {
    padding-top: 157px;
    padding-left: 90px;
 }

 .human__header {
    padding-bottom: 27px;
    width: 325px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
 }

 .human__info {
    width: 374px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
 }

 /* play section */

 .play__container {
     display: flex;
     justify-content: space-between;
 }

 .play__block {
    padding-top: 111px;
    padding-left: 98px;
 }

 .play__img {
    margin-right: 98px;
 }

 .play__header {
    width: 423px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
 }

 .play__info {
    width: 380px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
 }

 /* partner section */

 .partner {
    padding-bottom: 120px;
 }

 .partner__container {
     padding-top: 113px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .partner__header {
    padding-bottom: 66px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
 }

 .partner__links {
     padding: 0 43px;
     width: 983px;
     display: flex;
     align-items: center;
     justify-content: space-around;
 }

 /*  production section */

 .production {
    background-color: #163A24;
 }

 .production__container {
     padding-top: 66px;
     padding-bottom: 120px;
 }

 .production__header {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #FBFAF7;
 }

 .production__list {
    margin-top: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .production__list__item {
     display: flex;
     flex-direction: column;
     padding: 0 45px;
     align-items: center;
 }

 .production__info {
    padding-top: 28px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FBFAF7;
 }

 .production__info1 {
    padding-top: 10px;
 }

 /* employes section */

 .employes {
     padding-top: 119px;
     padding-bottom: 135px;
     background-color: #F2EFE6;
 }

 .employes__container {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .employes__header {
    width: 811px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
 }

 .employes__info {
    padding-top: 27px;
    padding-bottom: 2px;
    width: 760px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
 }